html{
  font-size: 18px;
}
body{
  background-color: white;
  font-family: Roboto;
}
.main{
}
.header .site_container{
  width: 960px;
  display: flex;
  flex-direction: row;
align-items: center;
  background-color: black;
  color: white;
  font-family: roboto;
}
.header{
  display: flex;
  justify-content: center;
  background-color: black;
}
.header img{
  height: 1.5rem;
  margin-left: 0.5rem;
}
.header p{
  font-size: 1rem;
  margin-left: 1rem;
  margin-top: .66rem;
  margin-bottom: .66rem;
}
.banner{
  display: flex;
  justify-content: center;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg);
  height: 25rem;
  background-size: cover;
}
.site_container{
  width: 960px;
}
.banner_box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20rem;
  font-family: Roboto;
  font-weight: bold;
  background-color: black;
  color: white;
  margin-top: 9rem;
}
.banner h2{
  font-size: 2rem;
  margin-left: 3rem;
  margin-bottom: 2rem;
}
.banner p{
  font-size: 1rem;
  margin-top: 2rem;
  margin-left: 3rem;
  margin-bottom: 0.25rem;
}
.links_menu .site_container{
  display: none;
}
.links{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: firebrick;
}
.links .site_container{
  display: flex;
  justify-content: space-between;
  color: white;
}
.link{
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.products .site_container{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

}
.products{
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.product{
  width: 30%;
}
.product_image{
  height: 9em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid black;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.product_image img{
  max-width: 8em;
}
.text{
  display: block;
  background-color: black;
  color: white;
  text-align: center;
  padding: 0.5em;
}
.info_container{
  display: flex;
  justify-content: center;
}
.info{
  display:flex;
  flex-direction: column;
  width: 35%;

}
.info_container .site_container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3rem;
}
.locale, .hours{
  background-color: black;
  color: white;
  padding-left: 0rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  box-sizing: border-box;
  padding-left: 2rem;
}
.info2{
  display: flex;
  flex-direction: column;
  width: 35%;
}
.mil_time, .lat_long{
  width: 100%;
  margin-bottom: 4rem;

}
footer{
  display: flex;
  align-items: center;
  text-align: left;
  height: 5rem;
  background-color: black;
  color: white;
}

@media only screen and (max-width: 1024px){
  .product{
    width: 47%;
  }
  body{
    font-size: 16px;
  }
  .product.glasses{
    display:none;
  }
  .links .site_container{
    display: none;
  }
  .links_menu{
    display: flex;
    justify-content: center;
    background-color: firebrick;
  }
  .links_menu .site_container{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .menu{
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
}

@media only screen and (max-width: 470px){
  .product{
    display:flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
  }
  .product.glasses, .product.watch{
    display: none;
  }
  .products .site_container{
    display: flex;
    justify-content: center;
  }
  .banner{
    height: 15rem;
  }
  .banner_box{
    width: 100%;
    margin-top: 10rem;
  }
  .banner h2{
    font-size: 1rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
  }
  .banner p{
    font-size: 0.77rem;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-bottom: 0.25rem;
  }
  .info, .info2{
    width: 90%;
  }
  .info_container .site_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  }
  footer{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
